<p id="notice"><%= notice %></p>

<p>
  <strong>Reason:</strong>
  <%= @event.reason %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>From time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>To time:</strong>
  <%= @event.end_time %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
